Repository ixahmedxi/ixahmedxi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, cspell, markdownlint, eslint

.lintstagedrc.json:

{
  "*": ["prettier --list-different", "cspell"],
  "*.{md,mdx}": ["markdownlint"],
  "*.{ts,tsx,astro,js,cjs,mjs,jsx}": ["eslint"]
}

feat: adds commitlint
  .commitlintrc.json
  .husky/commit-msg
  bun.lockb
  cspell.json
  package.json
Due: prettier --list-different, cspell

feat: it looks good
  .eslintrc.cjs
  astro.config.ts
  bun.lockb
  cspell.json
  package.json
  panda.config.ts
  public/gallery/candy.png
  public/gallery/meetup.png
  public/gallery/montaza.png
  public/gallery/trpc.png
  src/components/BaseHead.astro
  src/components/BlogItem.astro
  src/components/Navbar.astro
  src/content/blog/eslint-in-monorepos.md
  src/content/blog/first-post.md
  src/content/blog/neovim-in-vscode.md
  src/content/blog/nx-and-turborepo.md
  src/layouts/Base.astro
  src/layouts/BlogPost.astro
  src/pages/about.astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --list-different, cspell, markdownlint, eslint

feat: just waiting for final touches
  bun.lockb
  cspell.json
  package.json
  public/noodle-logo.svg
  public/trpc-logo.svg
  src/components/Navbar.astro
  src/pages/index.astro
  src/pages/work.astro
Due: prettier --list-different, cspell, eslint

feat: it's deployable
  cspell.json
  panda.config.ts
  public/blog-placeholder-1.jpg
  public/blog/monorepo-college-1.avif
  public/blog/monorepo-college-2.avif
  public/favicon.ico
  public/favicon.svg
  src/components/BaseHead.astro
  src/content/blog/monorepo-college-1.md
  src/content/blog/monorepo-college-2.md
  src/content/blog/neovim-in-vscode.md
  src/content/blog/nx-and-turborepo.md
  src/layouts/BlogPost.astro
  src/pages/blog/index.astro
  src/pages/index.astro
Due: prettier --list-different, cspell, markdownlint, eslint

feat: vercel astro integration
  astro.config.ts
  bun.lockb
  package.json
Due: prettier --list-different, cspell, eslint

fix: vercel output to hybrid
  astro.config.ts
Due: prettier --list-different, cspell, eslint
